body {
    background-color:rgb(29, 48, 48);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.window {
    background-color:rgb(50, 63, 63);
    width: 300px;
    height: fit-content;
    padding: 10px;
    border-radius: 10px;
    border-color:rgb(106, 241, 169);
    border-style: solid;
}

.btn {
    background-color: rgb(50, 63, 63);
    border: none;
    color: rgb(106, 241, 169);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid rgb(106, 241, 169);
    width: 150px;
    border-radius: 10px;
}
  
.btn:hover {
    background-color: rgb(106, 241, 169);
    color: rgb(50, 63, 63);
}
